@import url('https://fonts.googleapis.com/css2?family=Benne&family=Montserrat&display=swap');

body {
    background-color: black;
    font-weight:bolder;
    position: relative;
      
}

#top {
    background-color: #faf8f3;
}

#aboutMe {
    color:white;
    text-align: center;
    font-family: 'Benne', serif;
}

h1 {
    color: black;
    text-align: center;
    font-family: 'Benne', serif;
}

h3 {
    text-align: center;
    color: white;
    font-family: 'Benne', serif;
}


.projects {
    background-color: black;
    color: #FFFFFF;
    font-family: 'Life Savers', cursive;
    text-align: center;
}

.chat {
    background-color: #black;
    color: #FFFFFF;
    font-family: 'Life Savers', cursive;
    text-align: center;
}

.form {
    display: flex;
    justify-content: center;
   
}

label{
    display: flex;
    color:white;
}



.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    color:black;
    font-size: 33px;
    font-weight: 900;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    color:black;
    font-size: 20px;
}

.cards {
    margin: 15px;
    padding: 20px;
}


#hello {
    color: #fff;
    background: linear-gradient(
271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 18px;
}

.image {
    max-width: 325px;
}

section {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px auto;
    background-color: #faf8f3;
}

::part(body) {
    display:flex;
    justify-content: center;
}

sl-button::part(base){
    margin: 5px;
}